<%= form_for @project, :html => { :multipart => true } do |f| %>

	<div class="inset">
		<h2>Preview Image</h2>
		<% if @project.image? %>
		<br>
			<%= image_tag @project.image.url(:medium) %>
		<% end %>

		<%= f.file_field :image %>
	</div>


	<h2>Name</h2>
	<%= f.text_field :name %><br />

	<h2>Kind</h2>
	<%= f.select(:kind, options_for_select([['Logo', 'logo'], ['Web', 'web'], ['Illustration', 'illustration']]) ) %>

	<h2>Order</h2>
	<%= f.number_field :order %><br />

	<h2>Description</h2>
	<%= f.text_area :description %><br />

	<div class="inset">
		<h2>Gallery Images</h2>
		<%= f.fields_for :assets do |asset| %>

			<% if asset.object.new_record? %>
				<%= asset.file_field :image %> <hr>
			<% end %>

		<% end %>
	</div>

		<% if !@project.new_record? %>
			<div class="inset">
				<h3>Existing images</h3>
				<%= f.fields_for :assets do |asset| %>
					<% unless asset.object.new_record? %>
						<%= link_to( image_tag( asset.object.image.url(:medium)), asset.object.image.url(:original)) %>
					<% end %>
				<% end %>
			</div>
		<% end %>


	<%= f.submit( :class => "login-btn") %>

<% end %>

