<div class="showcase showcase-hide">
	<div class="gallery"><h1>Gallery</h1></div>
	<div class="sidebar"><h1>Sidebar</h1></div>

	<div class="showcase-close"></div>
</div>


<div class="container">
	<h1>My Work</h1>
	<hr>
	<%= link_to "New Project", new_project_path, class: "button" %>

	<a href="" class="button">Web</a>
	<a href="" class="button">Logo</a>
	<a href="" class="button">Print</a>

	<div class="projects-container">
		<% @projects.each do |project| %>
		<div class="project">
			<div class="project-photo"></div>
			<p class="project-name"><%= project.name %></p><br />
			<p><%= project.languages %></p><br />
			<p><%= project.description %></p><br />
			<%= link_to("View This Project", project_path(:id => project.id)) %><br />
			<%= link_to("Edit This Project", edit_project_path(:id => project.id)) %><br />
			<div class="showcase-view">View dis</div>
		</div>
		<% end %>
	</div>
</div>
	