<!-- The main container | App -->
<div class="container">
	<div class="control-bar">
		<% if !logged_in %>
			<h1>My Work</h1>
		<% else %>
			<h1>Admin Panel</h1>
		<% end %>
		<div class="controls">
			<% if logged_in %>
				<!-- If user is logged in -->
				<%= link_to "NEW", new_project_path, class: "button" %>
				<a class="button admin-showcase-toggle">Create A New Project</a>
				<%= link_to "Logout", user_session_path(id: current_user_id), method: :delete, class: "button" %>
			<% else %>
				<a dtata-filter=".logo" class="button">Web</a>
				<a dtata-filter=".logo" class="button">Logo</a>
				<a dtata-filter=".logo" class="button">Print</a>
			<% end %>
		</div>
	</div> 

	<div class="projects-container">
		<% @projects.each do |project| %>

		<div id="<%= dom_id(project) %>" class="project	<%= project.kind.downcase %>">

			<div class="project-photo" style="background: url(<%= project.image.url %>) no-repeat center center">
				<% if logged_in %>
				<div class="project-order">
					<%= project.order %>
				</div>
				<% end %>

				<div class="project-info">
					<h2>
						<%= project.name %>
						<%= link_to "show", project_path(:id => project.id) %>
					</h2>
					<hr>
					<a>Type: <%= project.kind %></a>
					<p><%= project.description %></p>
				</div>
			</div>

			<div class="toolbar">
				<a class="view-project"></a>
				<a><%= project.name %></a>
				<% if logged_in %>
					<!-- IF user is logged in -->
					<%= link_to "Edit", edit_project_path(:id => project.id) %>
					<%= link_to "", project_path(:id => project.id), method: :delete, :class => "delete-project" %>
				<% else %>
					<a><%= project.kind %></a>
				<% end %>
			</div>

		</div>
		<% end %>
	</div>
</div>

<%= render 'projects/project_showcase' %>
	
<%= render 'projects/admin_showcase' %>