<!-- The main container | App -->
<div class="container">

	<div class="control-bar">
		<% if !logged_in %>
			<h1>My Work</h1>
		<% else %>
			<h1>Admin Panel</h1>
		<% end %>
		<div class="controls">
			<% if logged_in %>
				<!-- If user is logged in -->
				<a class="button admin-showcase-toggle">Create A New Project</a>
				<%= link_to "Logout", user_session_path(id: current_user_id), method: :delete, class: "button" %>
			<% else %>
				<a href="" class="button">Web</a>
				<a href="" class="button">Logo</a>
				<a href="" class="button">Print</a>
			<% end %>
		</div>
	</div> 

	<div class="projects-container">
		<!-- <div class="project featured">
			<div class="project-photo"></div>
			<div class="toolbar">
				<a class="view-project"></a>
				<a>Featured Project</a>
			</div>
		</div> -->

		<% @projects.each do |project| %>
		<div id="<%= dom_id(project) %>" class="project">
			<div class="project-photo" style="background: url(<%= project.image.url %>) no-repeat center center">
				<div class="project-info">
					<h2><%= project.name %></h2>
					<hr>
					<a>Type: <%= project.kind %></a>
					<p><%= project.description %></p>
				</div>
			</div>
			<div class="toolbar">
				<a class="view-project"></a>
				<a><%= project.name %></a>
				<% if logged_in %>
					<!-- IF user is logged in -->
					<%= link_to "Edit", edit_project_path(:id => project.id) %>
					<%= link_to "", project_path(:id => project.id), method: :delete, :class => "delete-project" %>
				<% else %>
					<a><%= project.kind %></a>
				<% end %>
			</div>
		</div>
		<% end %>
	</div>
</div>

<!-- The project showcase -->
<div class="showcase project-showcase showcase-hide">

	<div class="gallery">
		<div class="showcase-close"><h3>X</h3></div>
	</div>

	<div class="sidebar">
		<h1>Olive Real Estate</h1>
		<section class="about">
		<h2>Project Overview</h2>
		<ul>
			<li>Olive came to us during my time at Rootspring looking for a fresh, modern web prescence. The site features a full listings database with realtime searches, sorting, and a user based favoriting system.</li>
		</ul>
	</section>
		<section class="about">
		<h2>Key Features</h2>
		<ul>
		
		</ul>
	</section>
		<section class="about">
		<h2>Languages/Platforms</h2>
		<ul>
		
		</ul>
	</section>

	<div class="button-lrg">View the site</div>

	</div>
</div>
	
<div class="showcase admin-showcase showcase-hide">

	<h1>New Project</h1>

	<%= form_for :project, url: projects_path, :html => { :multipart => true } do |f| %>

		<h2>Name</h2>
		<%= f.text_field :name %><br />
		<h2>Kind</h2>
		<%= f.text_field :kind %><br />
		<h2>Description</h2>
		<%= f.text_area :description %><br />
		<h2>Upload file</h2>
		<%= f.file_field :image %>

		<%= f.submit("Create a project", :class => "login-btn") %>

	<% end %>

	<div class="showcase-close"><h3>X</h3></div>
</div>	