<!-- The main container | App -->
<div class="container">
	<!-- Control Bar | Sort, Admin CRUD, etc. -->
	<div class="control-bar">
		<% if !logged_in %>
			<h1>My Work <span>Click the <%= image_tag("eye.svg") %> icon to view more pictures and details.</span></h1>
		<% else %>
			<h1>Admin Panel</h1>
		<% end %>
		<div class="controls">
			<% if logged_in %>
				<!-- If user is logged in -->
				<a class="button new-showcase-toggle">Create A New Project</a>
				<%= link_to "Logout", user_session_path(id: current_user_id), method: :delete, class: "button" %>
			<% else %>
				<a dtata-filter=".logo" class="button">Web</a>
				<a dtata-filter=".logo" class="button">Logo</a>
				<a dtata-filter=".logo" class="button">Illustration</a>
			<% end %>
		</div>
	</div> 

	<!-- The Projects Container -->
	<div class="projects-container">
		<% @projects.each do |project| %>

		<div id="<%= dom_id(project) %>" class="project	<%= project.kind.downcase %>">

			<div class="project-photo" style="background: url(<%= project.image.url(:original) %>) no-repeat center center">
				<% if logged_in %>
				<div class="project-order">
					<%= project.order %>
				</div>
				<% end %>

				<div class="project-info">
					<h2 class="project-name">
						<%= project.name %>
					</h2>
					<a class="project-kind"><%= project.kind %></a>
					<p><%= raw project.description %></p>
				</div>
			</div>

			<div class="toolbar">
				<a class="view-project"></a>
				<a><%= project.name %></a>
				<% if logged_in %>
					<!-- IF user is logged in -->
					<a class="edit-showcase-toggle">Edit</a>
					<%= link_to "", project_path(:id => project.id), method: :delete, :class => "delete-project" %>
				<% else %>
				<% end %>
			</div>

		</div>
		<% end %>
	</div>
</div>

<%= render 'projects/project_showcase' %>
	
<% if logged_in %>
	<!-- Admin Showcases -->
	<%= render 'projects/new_showcase' %>
	<%= render 'projects/edit_showcase' %>
<% end %>