<div class="showcase showcase-hide">
	<div class="gallery">
			<div class="showcase-close"><h3>X</h3></div>
	</div>
	<div class="sidebar">
		
	</div>

</div>


<div class="container">
	<h1>My Work</h1>
	<%= link_to "New Project", new_project_path, class: "button" %>

	<a href="" class="button">Web</a>
	<a href="" class="button">Logo</a>
	<a href="" class="button">Print</a>

	<div class="projects-container">
		<% @projects.each do |project| %>
		<div class="project">
			<div class="project-photo"></div>
			<p class="project-name"><%= project.name %></p><br />
			<p><%= project.languages %></p><br />
			<p><%= project.description %></p><br />
			<%= link_to("View This Project", project_path(:id => project.id)) %><br />
			<%= link_to("Edit This Project", edit_project_path(:id => project.id)) %><br />
			<%= link_to("Delete This Project", project_path(:id => project.id), method: :delete) %><br />
			<div class="toolbar">
				<div></div>
				<div class="view-project"></div>
			</div>
		</div>
		<% end %>
	</div>
</div>
	