<!-- The main container | App -->
<div class="container">
	<!-- Control Bar | Sort, Admin CRUD, etc. -->
	<div class="control-bar">
		<% if !logged_in %>
			<h1>My Work <span class="mobile">Swipe the photos <%= image_tag("swipe.svg") %> left and right to see more.</span><span>Click the <%= image_tag("eye.svg") %> icon to view large images and project details.</span></h1>
		<% else %>
			<h1>Admin Panel</h1>
		<% end %>
		<div class="controls">
			<% if logged_in %>
				<!-- If user is logged in -->
				<a class="button new-showcase-toggle">Create A New Project</a>
				<%= link_to "Logout", user_session_path(id: current_user_id), method: :delete, class: "button" %>
			<% else %>
				<a data-filter="*" class="button">View All</a>
				<a data-filter=".web" class="button">Web</a>
				<a data-filter=".logo" class="button">Logo</a>
				<a data-filter=".illustration" class="button">Illustration</a>
			<% end %>
		</div>
	</div> 

	<!-- The Projects Container -->
	<div class="projects-container">
		<% @projects.each do |project| %>
		<div class="project-shell <%= project.kind.downcase %>">
			<div id="<%= dom_id(project) %>" class="project">
				<div class="project-photo" style="background: url() no-repeat center center">
					<div class="slideshow">
						<% if project.assets %>
						<% project.assets.each do |asset| %>
							<div>
								<%= image_tag asset.image.url(:original) %>
							</div>
						<% end %>
					<% end %>
					</div>

					<% if logged_in %>
					<div class="project-order">
						<%= project.order %>
					</div>
					<div class="crud-tools">
						<a class="edit-showcase-toggle">Edit</a>
						<%= link_to "", project_path(:id => project.id), method: :delete, :class => "delete-project" %>
					</div>
					<% end %>

					<div class="project-info">
						<h2 class="project-name">
							<%= project.name %>
						</h2>
						<a class="project-kind"><%= project.kind %></a>
					</div>
				</div>

				<div class="toolbar">
					<a class="view-project"></a>
					<a><%= project.name %></a>
				</div>

			</div>
		</div>
		<% end %>
	</div>
</div>

<%= render 'projects/project_showcase' %>
	
<% if logged_in %>
	<!-- Admin Showcases -->
	<%= render 'projects/new_showcase' %>
	<%= render 'projects/edit_showcase' %>
<% end %>