<div class="overlay login-overlay">
	<div class="modal">
		<div class="close-overlay"><h3>X</h3></div>

		<h1>Log In</h1>
		<br />
		<center><p>I built this site on top of the Rails framework and implemented a custom personal CMS. I use this to manage my projects and more. Of course I have restriced access, but I'd love to show you around if you're curious, just shoot me an email at tedd.arcuri@gmail.com. In fact, I left the login button on the site to, if anything, spark some curiosity ;)</p></center>
		<br>
		<%= form_tag user_sessions_path do %>

			<%= label_tag :username %><br />
			<%= text_field_tag :username, params[:username] %><br />

			<%= label_tag :password %><br />
			<%= password_field_tag :password %><br />

			<%= submit_tag "Log In", class: "login-btn" %>

		<% end %>	
	</div>
</div>