<!DOCTYPE html>
<html>
<head>
  <title>Tedd Arcuri | Web Designer/Developer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <!-- Typekit Fonts -->
  <script type="text/javascript" src="//use.typekit.net/tdf6ubl.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <%= csrf_meta_tags %>
</head>
<body>

<% if !flash[:success].blank? %>
	<div class="notice success">
		<%= flash[:success] %>
	</div>	
<% end %>

<%= render 'layouts/nav' %>

<%= yield %>

<%= render 'layouts/login' %>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<script>
  	  $(".headline").fitText();
	  $(".name").fitText(0.3);

		$(function(){
		    $(".headline").typed({
		    	strings: ["Hello, my name is"],
		    	typeSpeed: 100
		    });
		});

</script>
</body>
</html>
